main {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 80vh;
}

main * {
  box-sizing: border-box;
}

#form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 550px;
  background: var(--dark-background-color);
  box-shadow: 0 0 20px var(--dark-background-color);
  padding: 20px;
  border-radius: 20px;
  position: relative;
}

.title-h1 {
  font-size: 30px;
  color: var(--third-color);
  font-weight: 600;
  letter-spacing: 0.3px;
  position: relative;
  text-align: center;
  margin: 0;
}

.description,
.login {
  color: var(--white-color);
  font-size: 15px;
  text-align: center;
}

.login a {
  color: var(--third-color);
  text-decoration: none;
  transition: 0.3s;
}

.login a:hover {
  color: var(--secondary-color);
}

.name {
  display: flex;
  width: 100%;
  gap: 6px;
}

label {
  position: relative;
}

input {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 10px 10px 20px 10px;
  outline: none;
  border: none;
  border-radius: 15px;
  font-size: 20px;
  color: var(--dark-background-color);
  transition: border 150ms cubic-bezier(0.4, 0, 0.2, 1);
}

input + span {
  position: absolute;
  left: 10px;
  top: 15px;
  color: var(--dark-background-color);
  font-size: 1em;
  cursor: pointer;
  transition: 0.3s ease;
}

input:placeholder-shown + span {
  top: 15px;
  font-size: 1em;
}

input:focus + span,
input:valid + span {
  top: -20px;
  font-size: 1em;
  font-weight: 600;
}

input:valid + span {
  color: var(--third-color);
}

.icon {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  color: var(--dark-background-color);
  cursor: pointer;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
}

.submit {
  border: none;
  outline: none;
  border-radius: 10px;
  font-size: 16px;
  transform: 0.3s ease;
  cursor: pointer;
  color: var(--white-color);
  background: var(--third-color);
}

.submit:hover {
  background: var(--secondary-color);
  transition: 0.5s;
}
