/* *:hover {
  border: solid 1px var(--secondary-color);
} */

* {
  font-family: cursive, monospace;
  /* border: solid 1px var(--secondary-color); */
}

:root {
  --primary-color: #66ccff;
  --secondary-color: #0099cc;
  --third-color: #05ba6e;
  --white-color: #ffffff;
  --background-color: #d1d1d1;
  --shadow-color: rgba(108, 108, 108, 0.529);
  --dark-background-color: #2e4252;
}

body {
  display: grid;
  top: 0;
  /* background: var(--background-color); */
  margin: 0 auto;
  border: 1px;
  width: 100%;
  min-width: 550px;
}

header {
  width: 100%;
  height: 100%;
  position: relative;
  /* background-size: cover; */
  /* background-position: center; */
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: 0 5px 10px 0 var(--shadow-color);
}

.navbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 100%;
  font-size: 30px;
  padding: 0 20px;
}

.navbar__logo {
  display: flex;
  align-items: center;

  & * {
    height: 80px;
  }
}

.logo:hover {
  opacity: 0.7;
}

.navbar__link {
  font-size: 3rem;
}

.navbar__link,
.navbar__icon,
.menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.navbar__link a {
  text-decoration: none;
  display: block;
  font-size: 30px;
  font-weight: 600;
  color: black;
  padding: 0 30px;
  margin: 0;
  transition: 0.2s;
}

.navbar__link a::after {
  display: block;
  content: "";
  border-bottom: 2px solid var(--secondary-color);
  transform: scaleX(0);
  transition: transform ease-in-out 250ms;
}

.navbar__link a:hover::after {
  transform: scaleX(1);
}

#toggler,
.navbar label {
  display: none;
}

/* @media screen and (max-width: 700px) {
  .menu {
    display: none;
  }

  .navbar__icon {
    flex-direction: column;
    padding: 10px;
  }

  .navbar label {
    display: flex;
    align-items: center;
    cursor: pointer;
    z-index: 11;
  }

  #toggler:checked ~ .menu {
    display: flex;
    position: absolute;
    align-items: center;
    top: 20px;
    right: 10px;
    padding: 50px 0 0 0;
    background-color: var(--dark-background-color);
    box-shadow: -5px 5px 15px 0px var(--background-color);
    border-radius: 20px;
    z-index: 10;
    & #home {
      visibility: initial;
    }

    & label,
    .navbar__icon i {
      padding: 10px;
      color: black;
    }
  }
} */

.navbar__icon i {
  padding: 0 10px;
  margin: 0;
  color: black;
}

.navbar__icon i:hover {
  color: var(--secondary-color);
}

main {
  border-radius: 5px;
  padding: 5px;
}

.footer_items {
  display: flex;
  justify-content: space-between;
  padding: 10px 50px;
  background-color: #4c4c4c;
}

.footer_items p,
.footer_items h2 {
  text-align: left;
  padding: 1px 0;
}

.footer_items p {
  color: white;
  font-size: 20px;
}

.footer_items h2 {
  color: chocolate;
  font-size: 30px;
}

#copyright {
  padding: 15px;
  text-align: center;
  font-size: 20px;
  color: white;
  background-color: #4c4c4c;
}

.footer_items .icons {
  margin-top: 5px;
}

.footer_items #icons_items {
  padding: 5px;
  font-size: 30px;
  /* background-color: white; */
  /* border-radius: 10%; */
  /* color: black; */
}

.footer_items section {
  border-bottom: 2px inset white;
}


/* reponsive footer */

/* CSS cho màn hình có kích thước nhỏ hơn hoặc bằng 768px */
@media (max-width: 768px) {
  .footer_items {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .footer_items div {
    margin-bottom: 20px;
  }
}

/* CSS cho màn hình có kích thước lớn hơn hoặc bằng 1024px */
@media (min-width: 1024px) {
  .footer_items {
    padding: 10px;
  }
}
